@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700');

.App {
  text-align: center;
}

.body{
  background-color: #F1F1F1;
  width: 100%;
  height: 100vh;
}

.container{
  margin: auto;
}

p{
  color: #000000;
  font-family: 'Roboto Mono', monospace;
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 30px;
  margin: 0px;
  animation: zoom 1s;
  user-select: none;
}

@media(max-width : 768px)
{
  p
  {
    font-size: 7vh;
  }
}
