@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700');

.App {
  text-align: center;
}

.body{
  background-color: #F1F1F1;
  width: 100%;
  height: 100vh;
  display: grid;
}

.container{
  margin: auto;
  padding-bottom: 150px;
  
}

p{
  color: #000000;
  font-family: 'Roboto Mono', monospace;
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 30px;
  margin: 0px;
  user-select: none;
}

.first{
  font-weight: 700;
  animation: fade_up 1s ease-in forwards;
}

.second{
  visibility: hidden;
  animation: fade_up 1s ease-in forwards;
  animation-delay: 1s;
  
}

.third{
  visibility: hidden;
  animation: fade_up 2s ease-in forwards;
  animation-delay: 2s;
  
}

.fourth{
  visibility: hidden;
  animation: fade_up 1s ease-in forwards;
  animation-delay: 3s;
}

@media(max-width : 800px)
{
  p
  {
    font-size: 7vh;
  }
}

@keyframes fade_up {
  0% { 
      transform: translateY(7px);
      opacity: 0.0;
      visibility: visible;
  } 
  100% {
      transform: translateY(0px);
      opacity: 1.0;
      visibility: visible;
  }
}
