@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


*:focus{
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none
}

.App {
  text-align: center;
}

.homebutton{
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    padding: 1rem 1.5rem;
    transition: transform .4s ease; 
    -webkit-transition: .1s ease;
}

.buttoncontainer{
  margin-top: -40px;
}


.button{
  transition: transform .1s;
  visibility: hidden;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  -webkit-appearance: button;
  background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
  color: #F1F1F1;
  padding: 1.5rem 2rem !important;
  border-radius: 100px !important;
  border: 0px;
  font-size: 30px;
  font-weight: 700;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto Mono', monospace;
  transition: transform .1s; 
  user-select: none;
  text-decoration: none;
  animation: show 1s infinite;
  animation-delay: 3.8s;
  -webkit-font-smoothing: antialiased;
}

h3{
  font-family: 'Montserrat', sans-serif;
}

.button:hover{
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}

.button:active{
  transform: translateY(2px);
}

.buttonAnimation {
  visibility: hidden;
  animation: fade_up 1s ease-in forwards;
  animation-delay: 3.8s;
  visibility: hidden;
}

.scraperBackground{
  background-image: url(../src/images/videoScraper.jpeg);
}

.body{
  background-color: #F1F1F1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
}

.portfolio{
  background-color: #F1F1F1;
  width: 100%;
  height: 100vh;
  /*overflow: hidden;*/
  overflow-x: hidden;
  display: grid;
}

.header{
  font-family: 'Playfair Display', serif;
  text-align: left;
  font-size: 10vw;
  line-height: 100%;
  font-stretch: expanded;
  width: 700px;

}

.buttonlocation{
  margin-top: -150px;
}

.caption{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.38vw;
  font-weight: 700;
  line-height: 150%;
  text-align: left;
  margin-top: 50px;
  margin-left: 16%;
  width: 40vw;
}

.projects{
  margin: 0 auto;
  width: 100%;
  height: 2000px;
  padding-left: 0px;
  padding-top: 25px;
  margin-left: 15%;
  animation: float_up 0.6s forwards; 
}

.dcontainer{
  width: 75%;
}
.line{
  left: 77%; 
  top: 275px;
  height: 280px;
  width: 1px;
  position: absolute;
}
.right{
  width: 21%;
  left: 79%;
  margin-top: -318px;
}

.container{
  margin: auto;
  padding-bottom: 0px;
  
}

.projectbutton{
  padding: 1vw 1.5vw;
  font-size: .84vw;
  display: inline-block;
  transition: transform .4s ease; 
  -webkit-transition: .1s ease;
}

.responsivebutton{
  padding: 1vw 1.5vw;
  font-size: .84vw;
  display: none;
  transition: transform .4s ease; 
  -webkit-transition: .1s ease;
}

.projectbutton:hover, .responsivebutton:hover, .homebutton:hover, .link:hover{
  -webkit-transform: scale(1.035);
  -ms-transform: scale(1.035);
  transform: scale(1.035);
}

.projectbutton:active, .responsivebutton:active, .homebutton:active, .link:active{
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.projectHeader{
  font-family: 'Roboto Mono', monospace;
  text-align: left;
  font-size: 2.25vw;
  font-weight: 700;
  margin-left: 10px;
}

.description{
  text-align: left;
  font-size: .85vw;
  font-family: 'Montserrat', sans-serif;
  margin-left: 10px;
  margin-top: 20px;
  font-weight: normal;
  width: 55vw;

}

.positioning{
  margin-top: -100px;
}

.bio{
  font-family: 'Montserrat', sans-serif;
}

.descriptionTitle{
  font-family: 'Playfair Display', serif;
  line-height: 100%;
  font-stretch: expanded;
}

p{
  color: #000000;
  font-family: 'Roboto Mono', monospace;
  font-size: 86px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 80px;
  margin: 0px;
  user-select: none;
}

.projectcontainer{
  margin-top: 7%;
}

.headerproject{
  margin-left: 10px;
  margin-top: 35px;
}

h2{
  text-align: left;
  color: #000000;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5vw;
  font-weight: 700;
  margin: 0px;
  user-select: none;
}

h1{
  color: #000000;
  font-family: 'Roboto Mono', monospace;
  font-size: 86px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 80px;
  margin: 0px;
  user-select: none;
}

.first{
  visibility: hidden;
  animation: fade_up 0.5s ease-in forwards;
  animation-delay: 0.3s;
}

.second{
  visibility: hidden;
  animation: fade_up 0.5s ease-in forwards;
  animation-delay: 1.3s;
  
}

.third{
  visibility: hidden;
  animation: fade_up 0.5s ease-in forwards;
  animation-delay: 1.8s;
  
}

.fourth{
  visibility: hidden;
  animation: fade_up 0.5s ease-in forwards;
  animation-delay: 2.8s;
}

@media(max-width : 800px)
{
  p
  {
    font-size: 7vh;
  }

  .overlay{
    padding: 30px 0;
  }  
  .dcontainer{
    width: 95%;
  }
  .line{
    top: 0px;
    left: 30px; 
    height: 1px;
    width: 89%;
    position: relative;
  }
  .right{
    left: 33px;
    margin-top: 0px;
    width: 90%;
  }

}

@media(max-width : 1300px)
{

  .homebutton{
    font-size: 15px;
  }

  .projects{
    width: 100%;
    margin-left: 12%;
  }
  
  .header{
    width:200px;
  }

}

@media only screen and (max-width: 1024px){
  .description{
    width: 85vw;
  }

  .buttonlocation{
    margin-top: -150px;
  }

  .caption{
    font-size: 2vmax;
    margin-left: 0px;
    width: 85vw;
    margin-top: 85px;
    margin-bottom: -50px;
  }

  .projectcontainer{
    margin-top: 20%;
  }
  .headerproject{
    margin-top: 20px;
    font-size: 2vmax;
  }

  .positioning{
    margin-top: -115px;
  }

  .description{
    margin-top: 10px;
    font-size:  1.3vmax;
  }

  .projectbutton{
    display: none;
  }

  .responsivebutton{
    font-size: 1.2vmax;
    padding: 1rem 1.5rem;
    display: block;
  }

  .projectHeader{
    font-size: 2.5vmax;
  }

  .projects{
    margin-left: 10%;
  }

  .homebutton{
    font-size: 1.2vmax;
    padding: 0.5rem 1rem;
  }

  .buttoncontainer{
    margin-top: -65px;
  }

  .header{
    font-size: 75px;
  }
}

@media only screen and (max-width: 480px){
  .caption{
    margin-left: 0px;
    width: 300px;
  }

  .description{
    width: 300px;
  }

  .projects{
    margin-left: 11%;
  }

  .projectHeader{
    font-size: 2.5vmax;
  }
  .header{
    font-size: 60px;
  }

  .responsivebutton{
    padding: .6rem 1rem;
  }
}

@media only screen and (max-width: 350px){
  .projects{
    margin-left: -20px
  }
  .caption{
    width: 270px;
  }
  .description{
    width: 270px;
  }
}

@keyframes fade_up {
  0% { 
      transform: translateY(7px);
      opacity: 0.0;
      visibility: visible;
  } 
  100% {
      transform: translateY(0px);
      opacity: 1.0;
      visibility: visible;
  }
}

@keyframes show{
  0% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}

@keyframes hidden{
  0% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes float_up {
  0% { 
    transform: translateY(20px);
    opacity: 0.0;
    visibility: visible;
} 
  100% {
    transform: translateY(0px);
    opacity: 1.0;
    visibility: visible;
  }
}
